@model vazs.server.Models.RegistModel

@{
    ViewData["Title"] = "Regist";
}
<style>
    .confirmation-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .confirmation-modal-content {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .confirmation-modal-message {
        margin-bottom: 20px;
    }
</style>
@if (ViewBag.ConfirmationMessage != null)
{
    <div class="confirmation-modal">
        <div class="confirmation-modal-content">
            <h3 class="confirmation-modal-message">@ViewBag.ConfirmationMessage</h3>
            <button class="btn btn-primary" onclick="closeModal()">OK</button>
        </div>
    </div>
}

<h1 align="center">Регистрация</h1>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Regist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
            <div class="form-group mt-2 mb-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Username" class="control-label">Имя пользователя</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" align="center">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function closeModal() {
        var modal = document.querySelector('.confirmation-modal');
        modal.style.display = 'none';
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}