.register{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 320px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        box-shadow: 10px -20px 50px 20px rgba(255, 255, 255, 0.15);
        .register__title{
            margin: 20px 0 30px;
            color: #090A0C;
            font-weight: 400;
        }
        .register__form{
            input{
                width: 100%;
                border-radius: 6px;
                border: 1px solid #bebbbb;
                padding: .5rem;
            }
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .register__password{
                margin-top: 15px;
            }
            .register__nickname{
                margin-top: 15px;
            }
            .form__submit{
                margin-top: 25px;
                padding: .5rem;
                background: #f5c8f2;
                border: 1px solid #c0c0c0;
                border-radius: 7px;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color: #f7a8f2;
                }
            }
        }
    }
}