@model vazs.server.ViewModels.TSViewModelForCreate

@{
    ViewData["Title"] = "CreateTS";
}

<h1>Ваше ТЗ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTS" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreationDate" class="form-control" value=@DateTime.Now />
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label">Дата окончания работ</label>
                <input asp-for="Deadline" class="form-control" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label">Бюджет (&#x20bd)</label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label">Выберите файл для загрузки:</label>
                <input asp-for="Document" type="file" accept="application/*" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ClientEmail" value=@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DepartmentName" value="@Context.Request.Query["DepartmentName"]" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-2">Создать ТЗ</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}