@model vazs.server.Models.TSModelForCreate

@{
    ViewData["Title"] = "CreateTS";
}

<h1>Ваше ТЗ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTS" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreationDate" class="form-control" value=@DateTime.Now />
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label">Дата окончания работ</label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label">Бюджет (&#x20bd)</label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label">Выберите файл для загрузки:</label>
                <input id="fileInput" asp-for="Document" type="file" accept="application/*" class="form-control" />
                <span id="fileError" asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ClientID" value=@User.FindFirst("clientUID").Value />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DepartmentName" value="@ViewContext.RouteData.Values["DepartmentName"]" />
            </div>
            <div class="form-group">
                <button id="saveButton" type="submit" class="btn btn-primary mt-2" onclick="createTS()">Создать ТЗ</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('saveButton').addEventListener('click', function (event) {
        var inputFile = document.getElementById('fileInput');
        var imageError = document.getElementById('fileError');

        if (inputFile.files.length === 0) {
            imageError.innerText = 'Это поле обязательно';
            event.preventDefault(); // Останавливаем отправку формы
        } else {
            imageError.innerText = '';
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}