@model vazs.server.ViewModels.TSViewModelForUpdate

@{
    ViewData["Title"] = "UpdateTS";
}

<div class="text-left">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Обратно к списку
    </a>
</div>

<h1>Редактирование технического задания</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTS" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label">Дата окончания работ</label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label">Бюджет (&#x20bd)</label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label">Выберите файл для загрузки:</label>
                <input id="fileInput" asp-for="Document" type="file" accept="application/*" class="form-control" />
                <span id="fileError" asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
