@model vazs.server.ViewModels.DepartmentModel

@{
    ViewData["Title"] = "CreateDepartment";
}

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<h1>Создание отдела разработки</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDepartment" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Image" class="control-label"></label>
                <input id="imageInput" asp-for="Image" type="file" accept="image/*" class="form-control" onchange="previewImage(this);"
                       data-val="true" data-val-required="Please select an image" />
                <img id="imagePreview" src="" class="w-50 mt-1" asp-append-version="true">
                <span id="imageError" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" id="saveButton" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    document.getElementById('saveButton').addEventListener('click', function (event) {
        var inputFile = document.getElementById('imageInput');
        var imageError = document.getElementById('imageError');

        if (inputFile.files.length === 0) {
            imageError.innerText = 'Это поле обязательно';
            event.preventDefault(); // Останавливаем отправку формы
        } else {
            imageError.innerText = '';
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
