@model vazs.server.ViewModels.DepartmentModel

@{
    ViewData["Title"] = "UpdateDepartment";
}

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<div class="text-left">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Обратно к списку
    </a>
</div>


<h1>Редактирование отдела разработки</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateDepartment" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Image" class="control-label">Изображение</label>
                <input id="imageInput" asp-for="Image" type="file" accept="image/*" class="form-control" onchange="previewImage(this);" />
                <img id="imagePreview" src="" class="w-50 mt-1" asp-append-version="true">
                <span id="imageError" asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


